* {
	box-sizing: border-box;
	font-family: 'Noto Sans', sans-serif;
}

#render_me {
	width: 40%;
	margin: 0 auto;
}

input {
	display: flex;
	/*align-items: center;*/
	margin: 0 auto;
	margin-top: 24px;
	margin-bottom: 24px;
	padding: 10px;
	width: 200px;
  height: 32px;
  border: solid 1px #979797;
  border-radius: 16px;
}

.Filter {
	width: 400px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}

button {
	width: 32%;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  border: solid 1px #979797;
  border-radius: 8px;
  background-color: black;
  text-align: center;
  color: white;
}

.List {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.Task {
	display: flex;
	justify-content: center;
	height: 28px;
	margin-bottom: 15px;
  font-size: 20px;
  letter-spacing: 5px;
  text-align: center;
  color: #3f3a3a;
}

.Task > span {
	width: 40%;
	height: 100%;
	margin-bottom: 15px;
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
  border-bottom: 1px solid gray;
  color: #3f3a3a;
}

.Task > button {
	width: 100px;
  /*height: 28px;*/
  margin: 0 2px;
  font-size: 16px;
  text-align: center;
  border: solid 1px #979797;
  border-radius: 16px;
  background-color: black;
  text-align: center;
  color: white;
}